[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "==0.11.1"
flask-sqlalchemy = "==2.3.2"
click = "==6.7"
itsdangerous = "==0.24"
"jinja2" = "==2.10"
markupsafe = "==1.0"
"psycopg2" = "==2.7.3.2"
sqlalchemy = "==1.2.0"
werkzeug = "==0.13"
gunicorn = "==19.7.1"
pytz = "*"


[dev-packages]

