body {
    padding-top: 25px;
}
.jumbotron h2 {
    font-family: 'Anton', sans-serif;
    font-size: 8em;
}
@media only screen and (max-device-width: 480px) {
    .jumbotron h2 {
    font-size: 3em;
}
    }
.good {
    background-color: #4ce86b;
}
.average {
    background-color: #e2e84c;
}
.bad {
    background-color: #ed5215;
}