<!DOCTYPE html>
<html lang="ru" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Score">
    <meta name="author" content="">
    <meta http-equiv="refresh" content="10">

    <link rel="icon" href="favicon.ico">

    <title>Мониторинг</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" >
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Marmelad" rel="stylesheet">


  </head>

  <body>

    <div class="container" >
      <div class="row justify-content-md-center">
        <div class="col-md-10 col-xs-12">
          <div class="alert alert-dark" role="alert">
            <h4 class="text-center"> Время ожидания клиента </h4>
          </div>
          <div id="waitng_time" class="text-center jumbotron">
            <h2><i class="fa fa-clock-o" aria-hidden="true"></i> {{ score }} минуты</h2>
            <h5><i class="fa fa-question-circle" aria-hidden="true"></i> {{ orders_count }} неподтвержденных заказов</h5>
            <h5><i class="fa fa-check" aria-hidden="true"></i> {{ done_today }} подтвердженных заказов за сегодня</h5>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        var score = Number($("h2").text().split(" ")[1]);
        if (score <= 7) {
          $(".jumbotron").addClass("good");
        }
        else if (score < 30) {
          $(".jumbotron").addClass("average");
        }
        else {
          $(".jumbotron").addClass("bad");
        }
      });
    </script>
  </body>
</html>